/* .parent{
    background-color:yellow;
    width:500px;
    overflow:auto;
    
}
.c1{
    background-color:red;
    width:110%;
    height:20%;
    box-sizing: border-box;
    padding: 10% 0px;
   
}
.c2{
    background-color:green;
    width:450px;
   
  
}
.c3{
    background-color:blue;
    width:200px;
}
.ta{
    resize: both;
} */