
.SignIn__container {
    width: 300px;
    height: 300px;
    align-items: center;
    border : solid 1px #ccc;
    background-color:#f3f3f1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

}
.SignIn_form{
    display: flex;
    flex-direction: column;
    width:90%;
    justify-content: center;
    align-items: center;
}

.SignIn_form >input {
display: block;
text-align: center;
background-color:#d3d3d3;
width: 80%;
height:30px;
border: none;
border-radius: 5px;
padding:5px;
margin:5px 0;
}
input:focus {
	outline: none;
  	
}


